@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #F4F6FC;
}

/* Generics */

.d-flex-row{
    display: flex;
    flex-direction: row;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.blue-button{
    background-color: #072AC8;
    color: #FFFFFF;
    height: 3rem;
    width: 9rem;
    padding: 15px 36px 15px 36px;
    font-size: 17px;
    font-weight: 500;
    padding: 0;
    border: 0;
}

.blue-button:hover{
    background-color: #292E47;
    cursor: pointer;
    
}

.heading-h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 70.31px;
    color: #292E47;
}

.heading-h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 46.88px;
    color: #292E47;
}

.body-text-24-medium{
    font-weight: 500;
    font-size: 24px;
    line-height: 28.13px;
    color: #292E47;
}

.headline-20-regular{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #6B708D;
}

.headline-17-medium{
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: #6B708D;
    text-decoration: none;
}

.headline-17-regular{
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    color: #6B708D;
}

.headline-13-regular{
    font-size: 13px;
    font-weight: 400;
    line-height: 15,23px;
    color: #514D67;
}
/* MAIN PAGE */

/* nav */
.navBar{
    width: 70rem;
    height: 7.6rem;
    align-items: flex-end;
    justify-content: center;
    gap: 19.5rem;
    margin: auto; /* tb puc posar auto al *, pero pot variar */
    
}

.navBar ul{
    list-style: none;
    gap: 2.5rem;
    align-items: center;
    padding-bottom: 0.5rem;
}

.navBar a{
    text-decoration: none;
    color:#514D67;
}

.navBar img{
    padding-bottom: 0.5rem;
}

.navBar .nav-selected{
    color:#367be4;
}

.navBar ul a:hover{
    color:#072AC8;
}

/* main */

/* index hero section */
.hero-section{
    margin: auto;
    margin-top: 6rem;
    width: 70rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height: 40rem;
}

.hero-article-text{
    justify-content: center;
    width: 50%;
    gap: 1.8rem;
    padding: 1rem;
}

.hero-article-text p{
    padding-right: 5.9rem;
}

.hero-article-text span{
    align-items: center;
    gap: 1.3rem;
}

.hero-article-image{ /* li posem relative al pare de les imatges q ficarem en absolut per dir-li quin es l'scope en el que s'ha de moure */
    position: relative;
    width: 50%;  
}

.hero-img1{
    height: 20rem;
    position: absolute;
    top: 0%;
    left: -20%;
}

.hero-img2{
    height: 39rem;
}

.hero-img3{
    height: 17rem;
    position: absolute;
    top: 75%;
    left: 70%;
}

.client-section{
    margin: auto;
    width: 70rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    filter: grayscale(100%);
}

.projects-section{
    margin: auto;
    width: 70rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    padding: 1rem;
    height: 35rem;
}

.projects-div{
    height: 27.75rem;
    margin-top: 4.375rem;
    gap: 3rem;
}

.projects-div a{
    color: #072AC8;
    text-decoration: none;
}

.projects-div-article{
    height: 27.75rem;
    background-color: #FFFFFF;
}

.project-article-text{
    padding: 1.8rem;
    gap: 0.6rem;
}

.project-article-anchor{
    padding: 1.8rem;
}

.project-image{
    width: 21rem;
    height: 15rem;
}

.testimonial-section{
    position: relative;
    width: 82.5rem;
    height: 38rem;
    background-color: #292E47;
    background-image: url("../assets/testimonial-section/orbit.png");
    background-size: cover;
    margin: auto;
    margin-top: 12rem;
    align-items: center;
    justify-content: space-around;
}

.testimonial-section h3{
    color: #FFFFFF;
}

.testimonial-section p{
    color: #FFC600;
    line-height: 2.4rem;
    text-align: center;
}

.testimonial-section-img1{
    height: 9.3rem;
    position: absolute;
    left: 10%;
    top: 10%;
}
.testimonial-section-img2{
    height: 9.3rem;
    position: absolute;
    left: 79%;
    top: 64%;
    height: 9.3rem;
}
.testimonial-section-img3{
    height: 9.3rem;
    position: absolute;
    left: 10%;
    top: 64%;
    height: 9.3rem;
}
.testimonial-section-img4{
    height: 9.3rem;
    position: absolute;
    left: 79%;
    top: 10%;
    height: 9.3rem;
}

.testimonial-section-profile-article{
    gap: 0.3rem;
}

.testimonial-section-profile-article article{
    align-items: left;
    justify-content: center;
    gap: 0.5rem;
}

.testimonial-section-profile-article strong{
    color: #A2D6F9;
}

.testimonial-section-profile-article p{
    color: #FFFFFF;
    text-align: left;
    line-height: 0.3rem;

}

.testimonial-section-prfl-image{
    height: 3.1rem;
    width: 3.1rem;
    border-radius: 50%;
    background-image: url("../assets/testimonial-section/profile.png");
    background-size: cover;
    background-position: -6px;   
}

.services-section{
    margin: auto;
    margin-top: 12.5rem;
    width: 70rem;
}

.services-section-article{
    margin-top: 4.3rem;
    gap: 2.5rem;
   
}

.services-section-card{
    width: 21.25rem;
    height: 23.75rem;
    background-color: #FFFFFF;
    padding: 0rem 1.8rem 1.8rem 1.8rem;
    justify-content: space-evenly;
}

.services-section-card div{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    padding: 1rem;
    background-color:#F4F6FC;
}

.services-section-card h6{
    font-weight: 500;
    font-size: 24px;
    line-height: 28.13px;
    color: #292E47;
}

.services-section-card a{
    text-decoration: none;
    color:#072AC8;
}

.cta-section{
    width: 82.5rem;
    height: 31.5rem;
    margin: auto;
    margin-top: 11.5rem;
    align-items: center;
    justify-content: center;
    background-color: #FFC600;
    gap: 1rem;
}

.cta-section p{
    color: #292E47;
}

.cta-section input{
    margin-top: 2rem;
    width: 14.8rem;
    height: 5.1rem;
    border: 0px;
    background-image: url("../assets/newsletter/icon/mail.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 2rem;
    font-size: 15px;
    text-align: center;
    padding: 0rem 3rem 0rem 5rem;
}

.cta-section input:focus{
    border: 0px;
    outline-width: 0;
    outline: none;
}

.cta-section input::placeholder{
    color: #292E47;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.cta-section button{
    height: 5rem;
    width: 12.3rem;
}

.footer{
    width: 70rem;
    height: 7.6rem;
    margin: auto; 
    margin-top: 10.6rem;
    gap: 200px;
    padding-bottom: 6rem;
    justify-content: space-between;
}

.footer-logo img{
    padding-bottom: 1.87rem;
    width: 6.1rem;
}

.footer-logo address{
    line-height: 25.5px;
}


.footer-list ul{
    list-style: none;
    flex-wrap: wrap;
    width: 27.18rem;
    gap: 5rem;
    justify-content: left;
}

/* En cas de que un cop acabada la pagina, al fer-la responsive a 1090 no es queda centrada, fes q les seccions q no toquen a les bandes toquin */