<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
    <script src="../javascript/index.js" defer></script>
</head>
<body>
    <nav class="navBar d-flex-row">
        <a href="index.html"><img src="../assets/logos/circle.svg" alt="Circle logo"></a>
        <ul class="d-flex-row headline-17-medium">
            <li><a class="nav-selected" href="#">Home</a></li>
            <li><a href="project.html">Projects</a></li>
            <li><a href="#services">Services</a></li>
        </ul>
        <a href="contact.html"><button class="blue-button">Contact Us</button></a>
    </nav>
    <main class="d-flex-column">
        <section class="hero-section d-flex-row">
            <article class="hero-article-text d-flex-column">
                <h1 class="heading-h1">Empower Your Business With Stunning Design!</h1>
                <p class="headline-20-regular">Circle is a digital design and development studio.<br> We design and develop astonishing websites and mobile apps.</p>
                <span class="d-flex-row"><a href="#" class="headline-17-medium">See our work</a><button  class="blue-button hero-button">Get in touch</button></span>
            </article>
            <article class="hero-article-image">
                <img class="hero-img1" src="../assets/hero-section/card-1.png" alt="Blue credit card">
                <img class="hero-img2" src="../assets/hero-section/hero-image.png" alt="Happy man">
                <img class="hero-img3" src="../assets/hero-section/card-2.png" alt="Thumbs up logo">
            </article>
        </section>
        <section class="client-section d-flex-row">
            <img src="../assets/logos/airbnb-logo.svg" alt="Airbnb logo">
            <img src="../assets/logos/google-logo.svg" alt="Google logo">
            <img src="../assets/logos/microsoft-logo.svg" alt="Microsoft logo">
            <img src="../assets/logos/fedex-logo.svg" alt="FedEx logo">
            <img src="../assets/logos/amazon-logo.svg" alt="Amazon logo">
        </section>
        <section id="projects" class="projects-section">
            <h3 class="heading-h3">Recent Projects</h3>
            <div class="projects-div d-flex-row">
                <!-- dynamic content from index.js -->
            </div>
        </section>
        <section class="testimonial-section d-flex-column">
            <img class="testimonial-section-img1" src="../assets/testimonial-section/memoji-1.png" alt="Happy girl emoji">
            <img class="testimonial-section-img2" src="../assets/testimonial-section/memoji-2.png" alt="Celebration girl emoji">
            <img class="testimonial-section-img3" src="../assets/testimonial-section/memoji-3.png" alt="Thumbs up guy emoji">
            <img class="testimonial-section-img4" src="../assets/testimonial-section/memoji-4.png" alt="Man winking eye emoji">
            <h3 class="heading-h3">Hear What Our Clients Have to Say</h3>
            <p class="body-text-24-medium">"Circle helped us through every stage of our startup. <br>We really enjoyed working with you".</p>
            <article class="testimonial-section-profile-article d-flex-row">
                <img class="testimonial-section-prfl-image"><img>
                <article class="d-flex-column">
                    <strong class="headline-17-regular">Kristin Watson</strong>
                    <p class="headline-13-regular">Booking.com</p>
                </article>
            </article>
        </section>
        <section id="services" class="services-section">
            <h3 class="heading-h3">Our Services</h3>
            <article class="services-section-article d-flex-row">
                <article class="services-section-card d-flex-column">
                    <div class="prova"><img src="../assets/services-section/icons/1.svg" alt="Fountain pen logo"></div>
                    <h6>User Interface Design</h6>
                    <p class="headline-20-regular">Circle provides you with a stunning user interface design that is accessible to everyone.</p>
                    <a class="headline-17-regular" href="#">Learn More</a>
                </article>
                <article class="services-section-card d-flex-column">
                    <div><img src="../assets/services-section/icons/2.svg" alt="Mouse cursor logo"></div>
                    <h6>User Experience Design</h6>
                    <p class="headline-20-regular">Circle always focuses on delivering the best user experience to your customers.</p>
                    <a class="headline-17-regular" href="#">Learn More</a>
                </article>
                <article class="services-section-card d-flex-column">
                    <div><img src="../assets/services-section/icons/3.svg" alt="Html file logo"></div>
                    <h6>Application Development</h6>
                    <p class="headline-20-regular">We develop high-quality mobile and web applications using the latest technology stack.</p>
                    <a class="headline-17-regular" href="#">Learn More</a>
                </article>
            </article>
        </section>
        <section class="cta-section d-flex-column">
            <h3 class="heading-h3">Do you have any questions?</h3>
            <p class="headline-20-regular">Let us help you!</p>
            <form action="">
                <input type="email" name="email" id="" placeholder="Enter you email" maxlength="294">
                <a href="#"><button class="blue-button">Subscribe</button></a>
            </form>
        </section>
    </main>
    <footer class="footer d-flex-row">
        <article class="footer-logo">
        <img src="../assets/logos/circle.svg" alt="Circle logo">
        <address class="headline-17-regular">2972 Westheimer Rd. Santa Ana,<br> Illinois 85486</address>
        </article>
        <article class="footer-list">
            <ul  class="d-flex-row headline-17-regular">
                <li>Team</li>
                <li>Services</li>
                <li>About Us</li>
                <li>Press</li>
                <li>Projects</li>
                <li>Privacy Policy</li>
            </ul>
        </article>
    </footer>
</body>
</html>