<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
    <script src="../javascript/project.js" defer></script>
</head>
<body>
    <nav class="navBar d-flex-row">
        <a href="#"><img src="../assets/logos/circle.svg" alt="Circle logo"></a>
        <ul class="d-flex-row headline-17-medium">
            <li><a class="nav-selected" href="index.html">Home</a></li>
            <li><a href="project.html">Projects</a></li>
            <li><a href="#services">Services</a></li>
        </ul>
        <a href="#"><button class="blue-button">Contact Us</button></a>
    </nav>
    <main class="d-flex-column">
        <section class="project-hero-section d-flex-column">
            <!-- dynamic content from project.js -->
        </section>
        <section id="projects" class="projects-section">
            <h3 class="heading-h3">Other Projects</h3>
            <div class="projects-div d-flex-row">
                <!-- dynamic content from project.js -->
            </div>
        </section>
        <section class="cta-section d-flex-column">
            <h3 class="heading-h3">Do you have any questions?</h3>
            <p class="headline-20-regular">Let us help you!</p>
            <form action="">
                <input type="email" name="email" id="" placeholder="Enter you email" maxlength="294">
                <a href="#"><button class="blue-button">Subscribe</button></a>
            </form>
        </section>
    </main>
    <footer class="footer d-flex-row">
        <article class="footer-logo">
        <img src="../assets/logos/circle.svg" alt="Circle logo">
        <address class="headline-17-regular">2972 Westheimer Rd. Santa Ana,<br> Illinois 85486</address>
        </article>
        <article class="footer-list">
            <ul  class="d-flex-row headline-17-regular">
                <li>Team</li>
                <li>Services</li>
                <li>About Us</li>
                <li>Press</li>
                <li>Projects</li>
                <li>Privacy Policy</li>
            </ul>
        </article>
    </footer>
</body>
</html>