<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Page</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <script src="/src/javascript/contact.js" defer></script>
</head>
<body>
    <nav class="navBar d-flex-row">
        <a href="index.html"><img src="../assets/logos/circle.svg" alt="Circle logo"></a>
        <ul class="d-flex-row headline-17-medium">
            <li><a href="../index.html">Home</a></li>
            <li><a href="project.html">Projects</a></li>
            <li><a href="#services">Services</a></li>
        </ul>
        <a href="contact.html"><button class="blue-button">Contact Us</button></a>
    </nav>
    <main class="contact-main">
        <section class="contact-section">
            <h1 class="heading-h1">Contact us</h1>
            <form class="contact-form">
                <label for="name" class="d-flex-column">
                    Full Name*
                    <input class="input-name contact-section-input" type="text" name="name" id="name" placeholder="Enter your full name" maxlength="100" required>
                </label>
                <label for="email" class="d-flex-column">
                    Email
                    <input class="input-email contact-section-input" type="email" name="email" id="email" placeholder="Enter your email address" maxlength="294">
                </label>
                <label for="phone" class="d-flex-column">
                    Phone
                    <input class="input-phone contact-section-input" type="tel" name="phone" id="phone" placeholder="Enter your phone number" maxlength="12">
                </label>
                <label for="message" class="d-flex-column">
                    Message
                    <textarea  class="input-message" type="" name="message" id="message" placeholder="Write your message here ...."></textarea>
                </label>
                <button class="blue-button form-button" type="submit">Submit</button>
            </form>
        </section>
    </main>
    <footer class="footer d-flex-row">
        <article class="footer-logo">
        <img src="../assets/logos/circle.svg" alt="Circle logo">
        <address class="headline-17-regular">2972 Westheimer Rd. Santa Ana,<br> Illinois 85486</address>
        </article>
        <article class="footer-list">
            <ul class="d-flex-row headline-17-regular">
                <li>Team</li>
                <li>Services</li>
                <li>About Us</li>
                <li>Press</li>
                <li>Projects</li>
                <li>Privacy Policy</li>
            </ul>
        </article>
    </footer>
</body>
</html>